@import '../style/app.scss';
.class-list {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
    }
    .add-class-button {
        float: right;
    }
    .ant-table-wrapper {
        padding-top: 60px;
    }
}

.add-class {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
        padding-bottom: $title-padding-bottom;
    }
}

.class-detail {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
        padding-bottom: $title-padding-bottom;
    }
    .label-text {
        align-content: right;
    }
}

.edit-class {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
        padding-bottom: $title-padding-bottom;
    }
}

.text-in-table-row {
    color: #000;
}
