/node_modules
/build
data/node_modules
data/package-lock.json
package-lock.json
# server/uploads/avatars/
server/uploads/images/
server/uploads/cvs/
# server/uploads/cv
dev.js
.env
request.http
.DS_Store
client/yarn.lock
http_logger
logs

npm-debug.log*
yarn-debug.kog*
yarn-error.log*

.vscode
