// color
$primary-color: #096aaa;
$danger-color: #ff4d4f;
$disable-color: #858383;

// title
$title-font-size: 22px;
$title-font-weight: bolder;
$title-padding-bottom: 20px;

//label
$label-font-weight: bolder;