@import "../style/app.scss";

.cv-list {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
  }
  .ant-table-wrapper {
    padding-top: 60px;
  }
  &__search {
    width: 30%;
    float: right;
  }
  &__status {
    height: 30px;
    width: 160px;
    padding: 3px;
    border-radius: 25px;
    font-weight: bolder;
    text-align: center;
  }
}

.cv-detail {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
  }
  &__scale-button {
    button {
      border: none;
      background-color: none;
    }
  }
}

.upload-cv {
  &__form {
    width: 50%;
    margin: auto;
    justify-content: center;
  }
  &__submit-button {
    float: right;
    &--disable {
      background-color: $disable-color;
      border-color: $disable-color;
    }
  }
  &__file-upload {
    margin: auto;
  }
  &__file-error {
    color: $danger-color;
    padding: 5px;
    margin: auto;
  }
}

.thanks-page {
  padding: 100px 0;
  text-align: center;
  font-size: $title-font-size;
}
.ant-table-thead > tr > th {
  .anticon-filter,
  .ant-table-thead > tr > th .ant-table-filter-icon {
    right: auto;
  }
}

.all-page-container {
  border: double black;
  height: 100%;
  max-height: 550px;
  overflow: auto;
}
